<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Freddit</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="newTopic">New SubFreddit</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{title}}</h1>

  <app-topic-list></app-topic-list>
  <!-- <app-new-topic (newTopicSender)="addTopic($event)"></app-new-topic> -->

  <router-outlet></router-outlet>
</div>
